.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.DS_Store
src/passwords.h
src/ui/autosave/*
ui/autosave/
ui/backup/
lib/mf_Lvgl.zip
ui/autosave/ae_52mm_gauge_autosave00.zip
